feedparser==5.2.1
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Jinja2==2.8
Mako==1.0.3
pytz==2015.7
pyzmq==15.1.0
SQLAlchemy==1.0.11
